$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1025px,
  xl: 1281px,
);

$primary-color: #264065;
$secondary-text-color: #909090;
$testimonial-text-color: black;
$bg_1-color: #faf8f5;
$bg_2-color: #a9d6cb;
$primary-size-text: 16px;
$secondary-size-text: 19px;
$third-size-text: 36px;
$tittle-size-text: 51px;
$p-size-text: 13px;
