@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.wrapper {
  background: linear-gradient(to right, v.$bg_1-color 50%, v.$bg_2-color 50%);
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 30px 150px;
  background-color: v.$bg_1-color;
  height: 730px;
  position: relative;
  &::before {
    content: "";
    width: 33%;
    background-color: v.$bg_2-color;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
