@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

main {
  display: grid;
  grid-template-columns: 50% 50%;
  .main-2 {
    .spa-imgs {
      figure.woman {
        position: absolute;
        right: 50px;
        top: 145px;
        img {
          width: 82%;
        }
      }
      figure.spa {
        position: absolute;
        right: 120px;
        top: 80px;
        img {
          width: 92%;
        }
      }
    }
  }
}
