@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.nav_list {
  @include m.reset-list();
  gap: 40px;
  a {
    img.dropdown {
      display: inline;
    }
    &:hover {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        height: 2px;
        background-color: v.$primary-color;
        width: 80%;
        bottom: -9px;
        left: 10%;
      }
    }
  }
  img {
    position: absolute;
  }
}
