@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.btn-sign {
  padding: 16px 40px;
  color: white;
  background-color: v.$primary-color;
  border-radius: 32px;
  &:hover {
    color: v.$primary-color;
    background-color: white;
    font-weight: bold;
  }
}

.btn-1 {
  color: white;
  background-color: v.$primary-color;
  border-radius: 32px;
  padding: 16px 46px;
  &:hover {
    font-weight: bolder;
  }
}

.btn-play {
  padding: 12px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
