@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.testimonials {
  article {
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.5019607843);
    border-radius: 16px;
    position: absolute;
    font-size: v.$p-size-text;
    &:first-of-type {
      top: 390px;
      right: 35px;
      left: 1180px;
    }
    &:last-of-type {
      top: 655px;
      right: 160px;
      left: 1060px;
    }
    p {
      margin: 8px 0 8px;
      color: v.$testimonial-text-color;
    }
  }
}
