@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: v.$primary-color;
}
